Modules/**/*libsodium*
.DS_Store
Doxygen/html/**
Modules/MachineLearning/Inference/Any/TensorFlowLite/TensorFlowLiteTree/
Modules/Drivers/Spi/Linux/FT232HL/release/*
Modules/Drivers/Spi/Linux/FT232HL/linux-x86_64/*
